$black: #000000;
$white: #FFFFFF;

$primary-light: #808080;
$primary-light-2: #747474;
$primary: #424246;
$primary-dark: #282828;

$selected: #00C873;

$vk: #4C75A3;
$facebook: #1877F2;
$google: #CD201F;
$twitter: #1DA1F2;

$logo-bckg: #c41df2;

$white-shadow: #FFFFFF6D;
$black-shadow: #0000006D;

$tst: #a6a6a6;